body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

.border{
    height:1px ;
    background: #333;
}

.section {
    margin: 20px ;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
}

.section h2 {
    color: #333;
}

.section p {
    color: #555;
}

nav {
    margin: 10px ;
}

nav a {
    color: white;
    margin:  15px;
}

.container{
    margin: 20px ;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

.container h1{
    text-align: center;
}
.container p{
    padding-left: 50px;
    padding-right: 50px;
}

.button {
    background: black;
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto; 
    display: block; 
}

@media screen and (max-width:460px){
    
.textarea{
    width: 70%;
}

} 

